/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-bar {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
    -fx-pref-width: 4;
}

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #ee4d2e;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    visibility: hidden;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    visibility: hidden;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Pane			                                                       *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: #161618;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Check Box			                                                       *
 *                                                                             *
 ******************************************************************************/


.check-box .box {
    -fx-background-color: #161618;
    -fx-border-color: #f2f5f4;

}

.check-box:hover{
    -fx-cursor: hand;
}

.check-box .mark{
    -fx-cell-size: 0;
     -fx-border-color: transparent;
     -fx-background-color: transparent;

}

.check-box:selected .mark {
    -fx-cell-size: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;

}

.check-box:selected .box {
    -fx-background-color: #f2f5f4;
    -fx-border-color: #161618;
}

.check-box > .box {
    -fx-padding: 0px;
}

/*******************************************************************************
 *                                                                             *
 * Combo Box			                                                       *
 *                                                                             *
 ******************************************************************************/

.combo-box .cell{
    -fx-text-fill: #f2f5f4;
}

.combo-box-popup .list-view .jfx-list-cell:filled:hover .jfx-list-cell {
    -fx-text-fill: #f2f5f4;
    -fx-background-insets: 0.0;
}

.combo-box-popup .list-view .jfx-list-cell .custom-jfx-list-view-icon,
.combo-box-popup .list-view .jfx-list-cell:filled:hover .custom-jfx-list-view-icon,
.combo-box-popup .list-view .jfx-list-cell:selected .custom-jfx-list-view-icon {
    -fx-fill: #212121;
    -fx-border-color: #212121;
}

.combo-box-popup .list-view .jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.combo-box-popup .list-view .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-text-fill: #f2f5f4;
    -fx-background-color: #212121;
}

.combo-box-popup .list-view .jfx-list-cell:odd,
.combo-box-popup .list-view .jfx-list-cell:even {
    -fx-text-fill: #f2f5f4;
    -fx-background-color: #212121;
}


/*******************************************************************************
 *                                                                             *
 * Text Area			                                                       *
 *                                                                             *
 ******************************************************************************/

.text-area {
     -fx-text-fill: #f2f5f4;
     -fx-font-size: 14px;
 }

.text-area .content {
    -fx-background-color: #212121;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.text-area:focused {
    -fx-background-color: #ee4d2e;
}

/*******************************************************************************
 *                                                                             *
 * Progress Bar			                                                       *
 *                                                                             *
 ******************************************************************************/

.progress-bar {
    -fx-stroke-width: 3;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar > .track {
    -fx-background-color: #212121;
    -fx-control-inner-background: #888888;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar > .bar {
    -fx-background-color: #ee4d2e;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.progress-bar > .secondary-bar{
    -fx-background-color: #5cb85c;
}

/*******************************************************************************
 *                                                                             *
 * Text Field   		                                                       *
 *                                                                             *
 ******************************************************************************/

.text-field {
    -fx-background-color: #212121;
    /*-fx-prompt-text-fill: #808080;*/
    -fx-text-fill: #f2f5f4;
    -fx-font-size: 14px;
    -fx-background-radius: 0;
 }

.text-field .content {
    -fx-background-color: #212121;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.text-field:focused {
    -fx-background-color: #ee4d2e;
}

/*******************************************************************************
 *                                                                             *
 * Button   		                                                       *
 *                                                                             *
 ******************************************************************************/

.button {
    -fx-text-fill:#f2f5f4;
    -fx-font-size:14px;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.button:focused {

}

.button:pressed {
    -fx-text-fill: white;
}

.button:hover {
    -fx-text-fill: #ee4d2e;
    -fx-cursor: hand;
}